## Deprecated
**/.old

## IDE Settings
**/.vscode

# Dependencies
**/node_modules
**/obj

## Builds
**/build
**/bin
**/dist

## Enviroment Arguments
.envrc
**/**.local.**
**/**.dev.**
**/**.prod.**
!**/**.example.**
